[Desktop Entry]
Encoding=UTF-8
Name=TRBO
Comment=TRBO P2P Cryptocurrency
Exec=trbo-qt %u
Terminal=false
Type=Application
Icon=trbo128
MimeType=x-scheme-handler/trbo;
Categories=Office;Finance;
Name[en_US]=trbo-qt.desktop
